<div class="social-icons accessibility-icons float-end">

         {% if language.getId() == 'en' %}
         <a href="#main-content" title="Skip To Main Content"><span style="color:white;">{{ 'Skip To Main Content'|t }} |</span></a>
         <a class="no-alert" href="https://nbcfdc.gov.in/nbcfdc/web/screen_reader" title="Skip To Main Content"><span style="color:white;">{{ 'Screen Reader Access'|t }} | </span></a>
		 <a class="no-alert" href="https://nbcfdc.gov.in/nbcfdc/web/sitemap" title="Sitemap"><span style="color:white;">{{ 'Sitemap'|t }} |</span></a>
          {% endif %}
          
          {% if language.getId() == 'hi' %}
          <a href="#main-content" title="मुख्य विषयवस्तु में जाएं"><span style="color:white;">मुख्य विषयवस्तु में जाएं |</span></a>
          <a class="no-alert" href="https://nbcfdc.gov.in/nbcfdc/web/screen_reader" title="स्क्रीन विषयवस्तु में जाएं"><span style="color:white;">स्क्रीन रीडर एक्सेस |</span></a>
		  <a class="no-alert" href="https://nbcfdc.gov.in/nbcfdc/web/sitemap" title="Sitemap"><span style="color:white;">{{ 'Sitemap'|t }} |</span></a>
          {% endif %}







{{ page.header_top}}




 


 
</div>
